body {
    background: url(https://cdn.architextures.org/textures/25/11/m1255-sdm384-nordic-sierra-gray-limestone--split-face-seamface-veneer---ashlar---split-edge---6-30-widths-25575-heights---dp108--t0a8l9.jpg);
    background-size: 80%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 0;
}

#sun {
    font-size: 95px;
    position: absolute;
    top: 10px;
    left: 20px;
}

#building-1 {
    background: lightgray;
    width: 100px;
    height: 80px;
    position: absolute;
    top: 55%;
    left: 200px;
}

#roof-1 {
    position: relative;
    bottom: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid white;
}