body {
    background: url(https://cdn.architextures.org/textures/25/11/m1255-sdm384-nordic-sierra-gray-limestone--split-face-seamface-veneer---ashlar---split-edge---6-30-widths-25575-heights---dp108--t0a8l9.jpg);
    background-size: 80%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#sky {
    background: linear-gradient(DeepSkyBlue, LightSkyBlue, AliceBlue);
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 0;
}

#sun {
    font-size: 95px;
    position: absolute;
    top: 10px;
    left: 20px;
}

#building-1 {
    background: lightgray;
    width: 100px;
    height: 80px;
    position: absolute;
    top: 55%;
    left: 200px;
}

#roof-1 {
    position: relative;
    bottom: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid white;
}

#building-2 {
    background: lightgray;
    width: 120px;
    height: 90px;
    position: absolute;
    top: 55%;
    left: 400px;
}

#roof-2 {
    position: relative;
    bottom: 60px;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid white;
}

#building-3 {
    background: darkgray;
    width: 80px;
    height: 50px;
    position: absolute;
    top: 55%;
    left: 700px;
}

#roof-3 {
    position: relative;
    bottom: 40px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid white;
}

#building-4 {
    background: gray;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55%;
    left: 0;
}

#roof-4 {
    position: relative;
    bottom: 50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid white;
}

#building-5 {
    background: gray;
    width: 150px;
    height: 120px;
    position: relative;
    top: 55%;
    left: 538px;
}

#roof-5 {
    position: relative;
    bottom: 75px;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid white;
}


#double-door {
    position: relative;
    width: 40px;
    top: 350px;
    right: 70px;
}


#arched {
    position: relative;
    width: 70px;
    top: 305px;
    left: 30px;
}

#double-door2 {
    position: relative;
    width: 40px;
    top: 350px;
    right: 90px;
}


#arched2 {
    position: relative;
    width: 70px;
    top: 305px;
    left: 50px;
}

#double-door3 {
    position: relative;
    width: 40px;
    top: 350px;
    right: 110px;
}


#arched3 {
    position: relative;
    width: 70px;
    top: 305px;
    left: 70px;
}

#double-door4 {
    position: relative;
    width: 40px;
    top: 350px;
    right: 150px;
}


#arched4 {
    position: relative;
    width: 70px;
    top: 305px;
    left: 110px;
}

#double-door5 {
    position: relative;
    width: 20px;
    top: 350px;
    right: 190px;
}




